:root {
  --primary: #dfa067;
  --secondary: #93aca7;
  --highlight: #224159;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #007bff;
  --text-footer: #333;

  --bg-main: white;
  --bg-dots: var(--highlight);
  --bg-lesson: white;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
