:root {
  --primary: #4dd0e1;
  --secondary: #333;
  
  --highlight: #0097a7;

  --text-header: var(--primary);
  --text-main-headers: var(--secondary);
  --text-links: var(--highlight);
  --text-footer: #333;

  --bg-main: white;
  --bg-dots: var(--highlight);
  --bg-lesson: white;

  --nav-buttons: var(--primary);
  --nav-buttons-text: white;

  --corner-active: var(--primary);
  --corner-inactive: #f4f4f4;
  --icons: var(--primary);
  --footer-icons: var(--secondary);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
